<dialog
    id="confirmation-modal"
    aria-labelledby="modal-title"
    aria-describedby="modal-description"
>

    <h2 id="modal-title">
        Confirm Action
    </h2>

    <p id="modal-description">
        Are you sure you want to delete this user?
    </p>

    <form method="dialog">

        <button type="submit" value="cancel">
            Cancel
        </button>

        <button type="submit" value="confirm">
            Confirm
        </button>

    </form>

</dialog>